In [1]:
import pandas as pd
import plotly.express as px

In [2]:
df = pd.read_csv('../original_data/04-20-2020.csv')

In [3]:
df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-20 23:36:47,34.223334,-82.461707,17,0,0,17,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-20 23:36:47,30.295065,-92.414197,114,7,0,107,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-20 23:36:47,37.767072,-75.632346,52,0,0,52,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-20 23:36:47,43.452658,-116.241552,598,10,0,588,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-20 23:36:47,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"

In [4]:
df.drop(columns=['FIPS','Lat', 'Long_', 'Combined_Key', 'Admin2', 'Province_State'], inplace=True)

In [5]:
df_cases = df.groupby(['Country_Region'], as_index=False).sum()

In [6]:
df_cases.head()

  Country_Region  Confirmed  Deaths  Recovered  Active
0    Afghanistan       1026      36        135     855
1        Albania        584      26        327     231
2        Algeria       2718     384       1099    1235
3        Andorra        717      37        248     432
4         Angola         24       2          6      16

In [7]:
df_cases.to_csv('../data/Total_cases_worldwide.csv', index=False)